%h1 Listing payment_notifications

%table
  %tr
    %th Params
    %th Cart
    %th Order
    %th Status
    %th Transaction
    %th
    %th
    %th

  - @payment_notifications.each do |payment_notification|
    %tr
      %td= payment_notification.params
      %td= payment_notification.cart_id
      %td= payment_notification.order_id
      %td= payment_notification.status
      %td= payment_notification.transaction_id
      %td= link_to 'Show', payment_notification
      %td= link_to 'Edit', edit_payment_notification_path(payment_notification)
      %td= link_to 'Destroy', payment_notification, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Payment notification', new_payment_notification_path
