%ul.clearfix
  - @sections.each do |section|
    - unless section.slug == "none"
      %li
        %h4= link_to section.name, show_section_path(section.slug), :class => "#{ 'selected' if @section && @section.slug == section.slug }"
        - if section.slug == "blog"
          -# %ul
          -#   - @blog_categories.each do |blog_category|
          -#     %li= link_to blog_category.name, blog_category_show_path(blog_category.slug)
        - else
          %ul
            - section.pages.each do |page|
              - unless page.hidden
                - if section.slug == "shop" && page.position == 1
                  %li= link_to page.name, shop_path
                - else
                  %li= link_to page.name, show_page_path(section.slug, page.slug)
            - if section.slug == "shop"
              - @product_types.each do |product_type|
                %li= link_to product_type.name, shop_category_path(product_type.slug)
