= simple_form_for [@product, @product_flavour] do |f|
  - if @product_flavour.errors.any?
    #error_explanation
      %h2
        = pluralize(@product_flavour.errors.count, "error")
        prohibited this flavour from being saved:

      %ul
      - @product_flavour.errors.full_messages.each do |msg|
        %li= msg

  .inputs
    / = f.input :product_id, :as => :hidden, :value => @product.id
    / = f.input :position, :as => :hidden, :value => @product_flavour.position
    = f.input :name
    = f.input :description, :as => :string
    = f.input :out_of_stock, :label => 'Out of stock?'

  .actions
    = f.button :submit
