- content_for :title do
  Showing Flavour

%p
  %b Name:
  = @product_flavour.name
%p
  %b Description:
  = @product_flavour.description
%p
  %b Slug:
  = @product_flavour.slug
%p
  %b Product:
  = @product_flavour.product.name
%p
  %b Position:
  = @product_flavour.position

- content_for :sidebar do
  %p= link_to 'Edit', edit_product_product_flavour_path(@product, @product_flavour), :class => "feature-button"
  %br
  %p= link_to 'Destroy', product_product_flavour_path(@product, @product_flavour), :confirm => 'Are you sure?', :method => :delete
  %p= link_to 'Back', product_product_flavours_path(@product)
